* {


}

body {


}

a {
    text-decoration: none;

}

ul {
    display: flex;
    align-items: center;   
    justify-content: space-evenly;
    gap: 48px;

}

li {
    list-style: none;
    flex-wrap: wrap;
    flex-basis: 200px;

}

.first-quarter {
    background-color: #1F2937;
    padding-bottom: 48px;


}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 36px;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;

}

.header-links {
    color: #E5E7EB;

}

.title-block {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.left-side {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    

}

.title {
    font-size: 48px;
    color: #F9FAF8;

}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    width: 200px;

}

.title-block.right-side-image {


}



.second-quarter {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px;
    padding: 8px;

}

.third-quarter {
    background-color: #E5E7EB;

}

.final-quarter {


}

