* {


}

body {


}

a {
    text-decoration: none;
    color: inherit;

}

img {
    width: 400px;

}

ul {
    display: flex;
    align-items: center;   
    justify-content: space-evenly;
    gap: 48px;

}

li {
    list-style: none;
    flex-wrap: wrap;
    flex-basis: 200px;

}

p {
    width: 800px;

}

button {
    font-size: 16px;
    border-radius: 10px;
    background-color: #3882F6;
    box-shadow: #1F2937;
    color: #F9FAF8;
    padding: 10px 16px ;


}

button.the-other-button {
    font-size: 16px;
    border-radius: 10px;
    background-color:  #F9FAF8;
    color: #3882F6;
    padding: 10px 16px ;

}

p.quote-text {
    font-size: 36px;
    color: #1F2937


}

.first-quarter {
    background-color: #1F2937;
    padding: 0px 24px 48px 24px;

}

.header {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px 0px 36px 0px;
    justify-content: space-around;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;

}

.header-links {
    color: #E5E7EB;

}

.title-block {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;

}

.left-side {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    

}

.title {
    font-size: 48px;
    color: #F9FAF8;
    flex-wrap: wrap;

}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    width: 200px;

}


.second-quarter {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px;
    padding: 48px;

}

.middle-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 64px;

}

.second-quarter img {
    border-radius: 25px;
    border: 2px solid #3882F6;
    padding: 20px;
    width: 100px;
    height: 150px;


}

.third-quarter {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.final-quarter {

    background-color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #3882F6;
    border-radius: 25px;
    color: #F9FAF8;
    display: flex;
    flex-basis: 400px;
    align-items: center;
    justify-content: space-around;
}

